@charset "UTF-8";

.menuBackground {
  animation: menu-fade-in 0.5s forwards;
}

.menuBackground.closing {
  animation: menu-fade-out 0.5s forwards;
}

.sideMenu {
  animation: menu-slide-in 0.5s;
}

.sideMenu.closing {
  animation: menu-slide-out 0.5s;
}

.languageLabel {
  height: 50px;
  width: 150px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

.languageLabel:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.08);
}

.socialButton {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  transition: all 0.1s ease-in-out;
}

.socialButton.hovered {
  padding: 0 20px;
  animation: social-button-slide 0.1s backwards;
}

.socialButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

@keyframes menu-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes menu-slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes menu-slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes social-button-slide {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}
