@charset "UTF-8";

.languageLabel {
  height: 50px;
  width: 160px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

.languageLabel:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.08);
}

.socialButton {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  transition: all 0.1s ease-in-out;
}

.socialButton.hovered {
  padding: 0 20px;
  animation: slide-in 0.1s backwards;
}

.socialButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

@keyframes slide-in {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}
